

// Colors
$red: #F08977;
$light_red: #E5C1B3;

$dark_black: #443E40;
$light_black: #8A8686;

$light_white: #FEFEFE;


// Common
.d-none {
	display: none;
}
.d-block {
	display: block;
}
.d-in-flx {
	display: inline-flex;
}


// Header
.logo {
	color: $light_red;
	text-transform: uppercase;
	text-align: center;
	margin-top: 2em;

	.subhead {
		color: $red;
	}
}
h4 {
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
}
// end Header


// Category
.categoryBtn {
	font-size: 0.9em;
	color: #fff;
	background: #000;
	cursor: pointer;
	border: none;
	padding: 0.5em 1em;
	display: block;
}


// Home page
.homeListing {
	padding-left: 2em;
}
.itemListing {
	font-size: 0.8em;
	color: $light_white;
	background: $dark_black;
	width: fit-content;
	list-style-type: none;
	padding-left: 0em;
	margin-top: 0em;

	li {
		cursor: pointer;
		padding-top: 1em;
		padding-bottom: 1em;
		padding-left: 0.75em;
		padding-right: 0.75em;

		&:hover {
			background: $light_black;
		}
	}
}
.productListing {
	list-style-type: none;
	display: grid;
	grid-template-columns: auto auto auto auto;
	margin-top: 3em;

	.singleProduct {
		width: 33%;		
	}
}
.categoryWrap {
	width: fit-content;
}