

// Colors
$red: #F08977;
$light_red: #E5C1B3;

$dark_black: #443E40;
$light_black: #8A8686;

$light_white: #FEFEFE;


// Spacing
$left_gutter: 1.5em;


// Common
.d-none {
	display: none;
}
.d-block {
	display: block;
}
.d-in-flx {
	display: inline-flex;
}


// Header
h4 {
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	margin-top: 0em;
}
.logo {
	color: $light_red;
	text-transform: uppercase;
	margin-top: 1em;
	margin-bottom: 0em;

	.subhead {
		color: $red;
	}
}
.logoWrap {
	padding-left: $left_gutter;
}
// end Header


// Category
.categoryBtn {
	font-size: 0.9em;
	color: #fff;
	background: #000;
	cursor: pointer;
	border: none;
	padding: 0.5em 1em;
	display: block;
	margin-left: $left_gutter;
}


// Home page
.homeListing {
	width: 100%;
	padding-bottom: 6em;
}
.itemListing {
	font-size: 0.8em;
	color: $light_white;
	background: $dark_black;
	width: fit-content;
	list-style-type: none;
	padding-left: 0em;
	margin-top: 0em;

	li {
		cursor: pointer;
		padding-top: 1em;
		padding-bottom: 1em;
		padding-left: 0.75em;
		padding-right: 0.75em;

		&:hover {
			background: $light_black;
		}
	}
}
.productListing {
	list-style-type: none;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-row-gap: 4em;
	grid-column-gap: 2em;
	margin-top: 3em;

	.singleProduct {
		img {
			width: 100%;
		}
	}
}
.categoryCols {
	position: absolute;
	margin-left: 1.34em;
}
.categoryWrap {
	width: fit-content;
}